@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat:wght@100;300&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1c1c1c;
    font-family: 'Poppins', 'Montserrat', sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
}


#navlogo {
    float: left;
    box-shadow: #fff;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: auto;
    height: 10%;
    background-color: #023047;
    color: #ffffff;
}

.navbarmd {
    align-items: center;
    display: flex;
    color: #e2e2e2;
    margin: 0.5% 3%;
}

.navbarmd .nav-item {
    margin: 0 10px; 
}

.material-symbols-outlined {
    transform: scale(1.2); 
    color:#D0D1D2;
    margin: 70% 50% 30%;
}

img {
    max-width: 50px;
    height: auto;
}

.ac {
    max-width: 100%;
    height: auto;
}

h1, h2, h3 {
    margin-bottom: 20px;
}

.hero {
    background: url('hero-image.jpg') center/cover no-repeat;
    color: #fff;
    text-align: left;
    padding: 100px 0;
    margin-left: 15%;
    margin-right: 15%;
}

.hero h1 {
    font-size: 2.5rem;
}

.hero p {
    font-size: 1.25rem;
}

.hero a.btn {
    margin-top: 20px;
}

.featured-products {
    background-color: #e2e2e2;
    padding: 50px 50px;
    border-radius: 10px;
}

.product-card {
    border: 1px solid #1c1c1c;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s;
}

.product-card img {
    max-width: 100%;
    height: auto;
}

.product-card:hover {
    transform: scale(1.05);
}

.testimonials {
    background-color: #e2e2e2;
    padding: 50px 0;
}

footer {
    background-color: #023047;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

button {
    margin-top: 10px;
}

.btncart:hover {
    background-color: #023047;
    border: solid 1px #023047;
    color: white;
}

.btncart {
    color: #c63c18;
    border: solid 1px #c63c18;
    border-radius: 10px;
}

.navbar {
    position: relative;
}

.dropdown {
    display: inline-block;
}

.dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown:hover .dropbtn {
    background-color: #555;
}

.basket-container {
    display: none;
    position: absolute;
    top: 52px; 
    left: 0;
    background-color: #f9f9f9;
    color: black;
    width: 200px;
    max-height: 300px;
    overflow-y: auto; 
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
}

.basket {
    position: relative;
    padding: 12px;
}

.dropdown:hover .basket-container {
    display: block;
}


